.cards {
    background-color: #dadcdd;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    margin: 62px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 5px 5px 15px, -5px 5px 15px;
    border-radius: 0 0 20px 20px;
}