.cards {
    height: 100%;
    max-width: 1000px;
    width: 100%;
    margin: 62px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (max-width: 730px) {
	.cards {
		margin: 100px auto;
	}
}